<html>
    <head>
        <title>About</title>
          <link rel="icon" href="/images/cloud.png"/> 
   <link rel="stylesheet" href="css/styles.css"/>
    </head>
    <body>
        <div class="main-content">
  <h1>About</h1>
           {{>header}}
        <img class="potrait"src="https://scontent.fccu3-1.fna.fbcdn.net/v/t39.30808-1/p160x160/230408511_1176965039482151_2285637534360683524_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=7206a8&_nc_ohc=zG7w8uC0PrYAX9QdHKS&_nc_ht=scontent.fccu3-1.fna&oh=00_AT9S6wElzV5I0tuM0rtX2sBsosmbk3tv-FRcofskaj1Vog&oe=62114007 "/> 
       
        </div>
        <div>
            {{body}}
        </div>
      
             {{>footer}}
    </body>
    </html>